{% if section.settings.show_content %}
  <main id="maincontent" class="page-main">
    <div class="columns">
      <div class="column main">
        <div data-content-type="row" data-appearance="contained" data-element="main">
          <div
            data-enable-parallax="0"
            data-parallax-speed="0.5"
            data-background-images="{}"
            data-background-type="image"
            data-video-loop="true"
            data-video-play-only-visible="true"
            data-video-lazy-load="true"
            data-video-fallback-src=""
            data-element="inner"
            data-pb-style="OQ3FLKC"
          >
            <div class="nokia" data-content-type="block" data-appearance="default" data-element="main">
              <div class="widget block block-static-block">
                <div data-content-type="row" data-appearance="contained" data-element="main">
                  <div
                    data-enable-parallax="0"
                    data-parallax-speed="0.5"
                    data-background-images="{}"
                    data-background-type="image"
                    data-video-loop="true"
                    data-video-play-only-visible="true"
                    data-video-lazy-load="true"
                    data-video-fallback-src=""
                    data-element="inner"
                    data-pb-style="DIUSEY5"
                  >
                    <div
                      class="pagebuilder-column-group banner-wrapper banner-indent banner-revert home-5"
                      data-background-images="{}"
                      data-content-type="column-group"
                      data-appearance="default"
                      data-grid-size="12"
                      data-element="main"
                      data-pb-style="HT3DT8V"
                    >
                      <div
                        class="pagebuilder-column-line"
                        data-content-type="column-line"
                        data-element="main"
                        data-pb-style="GRDBFXL"
                      >
                        <div
                          class="pagebuilder-column banner banner-l"
                          data-content-type="column"
                          data-appearance="full-height"
                          data-background-images="{}"
                          data-element="main"
                          data-pb-style="MPVV54Q"
                        >
                          <figure
                            data-content-type="image"
                            data-appearance="full-width"
                            data-element="main"
                            data-pb-style="Q0GJX1R"
                          >
                            <a
                              href="#"
                              target=""
                              data-link-type="default"
                              title=""
                              data-element="link"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-hidden"
                                src="{% if section.settings.imageLeft %}{{ section.settings.imageLeft | image_url }}{% else %}{{ 'home-pb-second-1.jpg' | asset_url }}{% endif %}"
                                alt=""
                                title=""
                                data-element="desktop_image"
                                data-pb-style="V4NE55K"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-only"
                                src="{% if section.settings.imageLeft %}{{ section.settings.imageLeft | image_url }}{% else %}{{ 'home-pb-second-1.jpg' | asset_url }}{% endif %}"
                                alt=""
                                title=""
                                data-element="mobile_image"
                                data-pb-style="B0PJAB7"
                            ></a>
                          </figure>
                        </div>
                        <div
                          class="pagebuilder-column banner-r"
                          data-content-type="column"
                          data-appearance="full-height"
                          data-background-images="{}"
                          data-element="main"
                          data-pb-style="DY9BJND"
                        >
                          <div
                            class="banner tab-align-left"
                            data-content-type="tabs"
                            data-appearance="default"
                            data-active-tab="0"
                            data-element="main"
                          >
                            <ul
                              role="tablist"
                              class="tabs-navigation"
                              data-element="navigation"
                              data-pb-style="MR1HF93"
                            >
                              <li role="tab" class="tab-header" data-element="headers" data-pb-style="UXX5XCU">
                                <a href="#HNNJQPF" class="tab-title"><span class="tab-title">Tab 1</span></a>
                              </li>
                            </ul>
                            <div class="tabs-content" data-element="content" data-pb-style="PU02VDG">
                              <div
                                data-content-type="tab-item"
                                data-appearance="default"
                                data-tab-name="Tab 1"
                                data-background-images="{}"
                                data-element="main"
                                id="HNNJQPF"
                                data-pb-style="LSDNWUF"
                              >
                                <figure
                                  data-content-type="image"
                                  data-appearance="full-width"
                                  data-element="main"
                                  data-pb-style="J7N5BNA"
                                >
                                  <a
                                    href="#"
                                    target=""
                                    data-link-type="default"
                                    title=""
                                    data-element="link"
                                    ><img
                                      height=""
                                      width=""
                                      class="pagebuilder-mobile-hidden"
                                      src="{% if section.settings.imageRight %}{{ section.settings.imageRight | image_url }}{% else %}{{ 'home-pb-second-2.jpg' | asset_url }}{% endif %}"
                                      alt=""
                                      title=""
                                      data-element="desktop_image"
                                      data-pb-style="E6OV3E6"
                                    ><img
                                      height=""
                                      width=""
                                      class="pagebuilder-mobile-only"
                                      src="{% if section.settings.imageRight %}{{ section.settings.imageRight | image_url }}{% else %}{{ 'home-pb-second-2.jpg' | asset_url }}{% endif %}"
                                      alt=""
                                      title=""
                                      data-element="mobile_image"
                                      data-pb-style="EFTOMFE"
                                  ></a>
                                </figure>
                              </div>
                            </div>
                          </div>
                          <div
                            class="banner-text tab-align-left"
                            data-content-type="tabs"
                            data-appearance="default"
                            data-active-tab="0"
                            data-element="main"
                          >
                            <ul
                              role="tablist"
                              class="tabs-navigation"
                              data-element="navigation"
                              data-pb-style="K8UUU39"
                            >
                              <li role="tab" class="tab-header" data-element="headers" data-pb-style="SF7KLS6">
                                <a href="#Y10EV2L" class="tab-title"><span class="tab-title">Tab 1</span></a>
                              </li>
                            </ul>
                            <div class="tabs-content" data-element="content" data-pb-style="PO1QICO">
                              <div
                                data-content-type="tab-item"
                                data-appearance="default"
                                data-tab-name="Tab 1"
                                data-background-images="{}"
                                data-element="main"
                                id="Y10EV2L"
                                data-pb-style="VWKHT2K"
                              >
                                <h1
                                  class="banner-title"
                                  data-content-type="heading"
                                  data-appearance="default"
                                  data-element="main"
                                  data-pb-style="SWMBUNF"
                                >
                                  {{
                                    section.settings.text
                                    | default: 'WINTER 24 -There is toughness and assertiveness here.  Have relaxed confidence  while being polished with little effort.'
                                  }}
                                </h1>
                                <div
                                  class="banner-text-link"
                                  data-content-type="text"
                                  data-appearance="default"
                                  data-element="main"
                                >
                                  <p style="text-align: center;">
                                    <a tabindex="0" href="#">{{ section.settings.linkText | default: 'EXPLORE' }}</a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endif %}
{% schema %}
{
  "name": "home-pagebuilder-second",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show this section",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "imageLeft",
      "label": "Select an Image - Left Section"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Add text content"
    },
    {
      "type": "text",
      "id": "linkText",
      "label": "Add Explore Link Text"
    },
    {
      "type": "image_picker",
      "id": "imageRight",
      "label": "Select an Image - Right Section"
    }
  ],
  "presets": [
    {
      "name": "home-pagebuilder-second"
    }
  ]
}
{% endschema %}
