{% if section.settings.show_content %}
  <main id="maincontent" class="page-main">
    <div class="columns">
      <div class="column main">
        <div data-content-type="row" data-appearance="contained" data-element="main">
          <div
            data-enable-parallax="0"
            data-parallax-speed="0.5"
            data-background-images="{}"
            data-background-type="image"
            data-video-loop="true"
            data-video-play-only-visible="true"
            data-video-lazy-load="true"
            data-video-fallback-src=""
            data-element="inner"
            data-pb-style="OQ3FLKC"
          >
            <div data-content-type="block" data-appearance="default" data-element="main">
              <div class="widget block block-static-block">
                <div data-content-type="row" data-appearance="contained" data-element="main">
                  <div
                    data-enable-parallax="0"
                    data-parallax-speed="0.5"
                    data-background-images="{}"
                    data-background-type="image"
                    data-video-loop="true"
                    data-video-play-only-visible="true"
                    data-video-lazy-load="true"
                    data-video-fallback-src=""
                    data-element="inner"
                    data-pb-style="IF2KLBS"
                  >
                    <div
                      class="pagebuilder-column-group banner-column container home-1 bridal-column"
                      data-background-images="{}"
                      data-content-type="column-group"
                      data-appearance="default"
                      data-grid-size="12"
                      data-element="main"
                      data-pb-style="QO4C5MX"
                    >
                      <div
                        class="pagebuilder-column-line"
                        data-content-type="column-line"
                        data-element="main"
                        data-pb-style="SLKI2OR"
                      >
                        <div
                          class="pagebuilder-column banner"
                          data-content-type="column"
                          data-appearance="full-height"
                          data-background-images="{}"
                          data-element="main"
                          data-pb-style="HGJ9KPQ"
                        >
                          <figure
                            data-content-type="image"
                            data-appearance="full-width"
                            data-element="main"
                            data-pb-style="QR9HONP"
                          >
                            <a
                              href="#"
                              target=""
                              data-link-type="default"
                              title=""
                              data-element="link"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-hidden"
                                src="{% if section.settings.imageLeft %}{{ section.settings.imageLeft | image_url }}{% else %}{{ 'home-pb-fourth-1.jpg' | asset_url }}{% endif %}"
                                alt=""
                                title=""
                                data-element="desktop_image"
                                data-pb-style="H4XTM4I"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-only"
                                src="{% if section.settings.imageLeft %}{{ section.settings.imageLeft | image_url }}{% else %}{{ 'home-pb-fourth-1.jpg' | asset_url }}{% endif %}"
                                alt=""
                                title=""
                                data-element="mobile_image"
                                data-pb-style="MLWX89A"
                            ></a>
                          </figure>
                          <div
                            class="banner-description l-desc"
                            data-content-type="text"
                            data-appearance="default"
                            data-element="main"
                          >
                            <h2>
                              <a tabindex="0" href="#">{{ section.settings.linkLeft | default: 'TOPS' }}</a>
                            </h2>
                            <div>
                              <a tabindex="0" href="#">{{ section.settings.linkLeftText | default: 'EXPLORE' }}</a>
                            </div>
                          </div>
                        </div>
                        <div
                          class="pagebuilder-column banner"
                          data-content-type="column"
                          data-appearance="full-height"
                          data-background-images="{}"
                          data-element="main"
                          data-pb-style="A3HUN9H"
                        >
                          <figure
                            data-content-type="image"
                            data-appearance="full-width"
                            data-element="main"
                            data-pb-style="G9CLN5X"
                          >
                            <a
                              href="#"
                              target=""
                              data-link-type="default"
                              title=""
                              data-element="link"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-hidden"
                                src="{% if section.settings.imageMiddle %}{{ section.settings.imageMiddle | image_url }}{% else %}{{ 'home-pb-fourth-2.jpg' | asset_url }}{% endif %}"
                                alt=""
                                title=""
                                data-element="desktop_image"
                                data-pb-style="P63BUDJ"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-only"
                                src="{% if section.settings.imageMiddle %}{{ section.settings.imageMiddle | image_url }}{% else %}{{ 'home-pb-fourth-2.jpg' | asset_url }}{% endif %}"
                                alt=""
                                title=""
                                data-element="mobile_image"
                                data-pb-style="BJ3Q5C5"
                            ></a>
                          </figure>
                          <div
                            class="banner-description l-desc"
                            data-content-type="text"
                            data-appearance="default"
                            data-element="main"
                          >
                            <h2>
                              <a tabindex="0" href="#">
                                {{ section.settings.textMiddle | default: 'DRESSES' }}
                              </a>
                            </h2>
                            <div>
                              <a tabindex="0" href="#">{{ section.settings.linkMiddleText | default: 'EXPLORE' }}</a>
                            </div>
                          </div>
                        </div>
                        <div
                          class="pagebuilder-column banner"
                          data-content-type="column"
                          data-appearance="full-height"
                          data-background-images="{}"
                          data-element="main"
                          data-pb-style="XF9NGQ2"
                        >
                          <figure
                            data-content-type="image"
                            data-appearance="full-width"
                            data-element="main"
                            data-pb-style="MP2PARK"
                          >
                            <a
                              href="#"
                              target=""
                              data-link-type="default"
                              title=""
                              data-element="link"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-hidden"
                                src="{%if section.settings.imageRight%}{{section.settings.imageRight |  image_url }}{% else %}{{'home-pb-fourth-3.jpg' |  asset_url}}{%endif %}"
                                alt=""
                                title=""
                                data-element="desktop_image"
                                data-pb-style="HATX9OG"
                              ><img
                                height=""
                                width=""
                                class="pagebuilder-mobile-only"
                                src="{%if section.settings.imageRight%}{{section.settings.imageRight |  image_url }}{% else %}{{'home-pb-fourth-3.jpg' |  asset_url}}{%endif %}"
                                alt=""
                                title=""
                                data-element="mobile_image"
                                data-pb-style="NDWAKOO"
                            ></a>
                          </figure>
                          <div
                            class="banner-description l-desc"
                            data-content-type="text"
                            data-appearance="default"
                            data-element="main"
                          >
                            <h2>
                              <a tabindex="0" href="#">{{ section.settings.textRight | default: 'GOWNS' }}</a>
                            </h2>
                            <div>
                              <a tabindex="0" href="#">{{ section.settings.linkRightText | default: 'EXPLORE' }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endif %}
{% schema %}
{
  "name": "home-pagebuilder-fourth",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show this section",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "imageLeft",
      "label": "Select an Image - Left Section"
    },
    {
      "type": "text",
      "id": "linkLeft",
      "label": "Add Link Heading - Left Section"
    },
    {
      "type": "text",
      "id": "linkLeftText",
      "label": "Add Explore Link Text - Left Section"
    },
    {
      "type": "image_picker",
      "id": "imageMiddle",
      "label": "Select an Image - Middle Section"
    },
    {
      "type": "text",
      "id": "textMiddle",
      "label": "Add Link Heading - Middle Section"
    },
    {
      "type": "text",
      "id": "linkMiddleText",
      "label": "Add Explore Link Text - Middle Section"
    },
    {
      "type": "image_picker",
      "id": "imageRight",
      "label": "Select an Image - Right Section"
    },
    {
      "type": "text",
      "id": "textRight",
      "label": "Add Link Heading - Right Section"
    },
    {
      "type": "text",
      "id": "linkRightText",
      "label": "Add Explore Link Text - Right Section"
    }
  ],
  "presets": [
    {
      "name": "home-pagebuilder-fourth"
    }
  ]
}
{% endschema %}
