{% if section.settings.show_content %}
  <main id="maincontent" class="page-main">
    <div class="columns">
      <div class="column main">
        <div data-content-type="row" data-appearance="contained" data-element="main">
          <div
            data-enable-parallax="0"
            data-parallax-speed="0.5"
            data-background-images="{}"
            data-background-type="image"
            data-video-loop="true"
            data-video-play-only-visible="true"
            data-video-lazy-load="true"
            data-video-fallback-src=""
            data-element="inner"
            data-pb-style="OQ3FLKC"
          >
            <div data-content-type="block" data-appearance="default" data-element="main">
              <div class="widget block block-static-block">
                <div data-content-type="row" data-appearance="contained" data-element="main">
                  <div
                    data-enable-parallax="0"
                    data-parallax-speed="0.5"
                    data-background-images="{}"
                    data-background-type="image"
                    data-video-loop="true"
                    data-video-play-only-visible="true"
                    data-video-lazy-load="true"
                    data-video-fallback-src=""
                    data-element="inner"
                    data-pb-style="ETQMHBX"
                  >
                    <div
                      class="pagebuilder-column-group banner-wrapper banner-indent home-1 video-banner"
                      data-background-images="{}"
                      data-content-type="column-group"
                      data-appearance="default"
                      data-grid-size="12"
                      data-element="main"
                      data-pb-style="I77MUE9"
                    >
                      <div
                        class="pagebuilder-column-line"
                        data-content-type="column-line"
                        data-element="main"
                        data-pb-style="N9P2N9O"
                      >
                        <div
                          class="pagebuilder-column banner-l"
                          data-content-type="column"
                          data-appearance="full-height"
                          data-background-images="{}"
                          data-element="main"
                          data-pb-style="RQPN3UP"
                        >
                          <div
                            class="banner-text tab-align-left"
                            data-content-type="tabs"
                            data-appearance="default"
                            data-active-tab="0"
                            data-element="main"
                          >
                            <ul
                              role="tablist"
                              class="tabs-navigation"
                              data-element="navigation"
                              data-pb-style="CU7Y02R"
                            >
                              <li role="tab" class="tab-header" data-element="headers" data-pb-style="P8X3CUD">
                                <a href="#YNA5G50" class="tab-title"><span class="tab-title">Tab 1</span></a>
                              </li>
                            </ul>
                            <div class="tabs-content" data-element="content" data-pb-style="JNFV2SJ">
                              <div
                                data-content-type="tab-item"
                                data-appearance="default"
                                data-tab-name="Tab 1"
                                data-background-images="{}"
                                data-element="main"
                                id="YNA5G50"
                                data-pb-style="ACKOO9H"
                              >
                                <h1
                                  class="banner-title home-title"
                                  data-content-type="heading"
                                  data-appearance="default"
                                  data-element="main"
                                  data-pb-style="SXKQ9QN"
                                >
                                  {{
                                    section.settings.text
                                    | default: 'BRIDAL 2024 - EMBRACING THE NOTION OF TEXTURE, THROUGH  BONDED CREPE, SILK-WASHED ORGANZA, SATIN AND TULLE.'
                                  }}
                                </h1>
                                <div
                                  class="banner-text-link"
                                  data-content-type="text"
                                  data-appearance="default"
                                  data-element="main"
                                >
                                  <p style="text-align: center;">
                                    <a tabindex="0" href="#">{{ section.settings.linkText | default: 'EXPLORE' }}</a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="banner tab-align-left"
                            data-content-type="tabs"
                            data-appearance="default"
                            data-active-tab="0"
                            data-element="main"
                          >
                            <ul
                              role="tablist"
                              class="tabs-navigation"
                              data-element="navigation"
                              data-pb-style="A7Y6XFI"
                            >
                              <li role="tab" class="tab-header" data-element="headers" data-pb-style="N7A8CTQ">
                                <a href="#R3LVY2H" class="tab-title"><span class="tab-title">Tab 1</span></a>
                              </li>
                            </ul>
                            <div class="tabs-content" data-element="content" data-pb-style="GHSPM9N">
                              <div
                                data-content-type="tab-item"
                                data-appearance="default"
                                data-tab-name="Tab 1"
                                data-background-images="{}"
                                data-element="main"
                                id="R3LVY2H"
                                data-pb-style="YX7RGQ9"
                              >
                                <figure
                                  data-content-type="image"
                                  data-appearance="full-width"
                                  data-element="main"
                                  data-pb-style="OARE2DN"
                                >
                                  <a
                                    href="#"
                                    target=""
                                    data-link-type="default"
                                    title=""
                                    data-element="link"
                                    ><img
                                      height=""
                                      width=""
                                      class="pagebuilder-mobile-hidden"
                                      src="{%if section.settings.imageLeft%}{{section.settings.imageLeft |  image_url }}{% else %}{{'home-pb-third-1.jpg' |  asset_url}}{%endif %}"
                                      alt=""
                                      title=""
                                      data-element="desktop_image"
                                      data-pb-style="T5Q1D5J"
                                    ><img
                                      height=""
                                      width=""
                                      class="pagebuilder-mobile-only"
                                      src="{%if section.settings.imageLeft%}{{section.settings.imageLeft |  image_url }}{% else %}{{'home-pb-third-1.jpg' |  asset_url}}{%endif %}"
                                      alt=""
                                      title=""
                                      data-element="mobile_image"
                                      data-pb-style="Y8F441Y"
                                  ></a>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="pagebuilder-column banner-r banner-wrapper"
                          data-content-type="column"
                          data-appearance="full-height"
                          data-background-images="{}"
                          data-element="main"
                          data-pb-style="RE9XNAH"
                        >
                          <div
                            class="tab-align-left ui-tabs ui-corner-all ui-widget ui-widget-content"
                            data-content-type="tabs"
                            data-appearance="default"
                            data-active-tab="0"
                            data-element="main"
                          >
                            <ul
                              role="tablist"
                              class="tabs-navigation ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header"
                              data-element="navigation"
                              data-pb-style="TNR2M2L"
                              style="margin-bottom: 0px;"
                            >
                              <li
                                role="tab"
                                class="tab-header ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active"
                                data-element="headers"
                                data-pb-style="E1PEY82"
                                tabindex="0"
                                aria-controls="KW3HCH2"
                                aria-labelledby="ui-id-27"
                                aria-selected="true"
                                aria-expanded="true"
                              >
                                <a href="#KW3HCH2" class="tab-title ui-tabs-anchor" tabindex="-1" id="ui-id-27"
                                  ><span class="tab-title">Tab 1</span></a
                                >
                              </li>
                            </ul>
                            <div class="tabs-content" data-element="content" data-pb-style="NSGH314">
                              <div
                                data-content-type="tab-item"
                                data-appearance="default"
                                data-tab-name="Tab 1"
                                data-background-images="{}"
                                data-element="main"
                                id="KW3HCH2"
                                data-pb-style="D5KLJ6A"
                                aria-labelledby="ui-id-27"
                                role="tabpanel"
                                class="ui-tabs-panel ui-corner-bottom ui-widget-content"
                                aria-hidden="false"
                              >
                                <figure
                                  class="slick-slider-item"
                                  data-content-type="image"
                                  data-appearance="full-width"
                                  data-element="main"
                                  data-pb-style="C1OMLPS"
                                >
                                  <a
                                    href="#"
                                    target=""
                                    data-link-type="default"
                                    title=""
                                    data-element="link"
                                    ><img
                                      height=""
                                      width=""
                                      class="pagebuilder-mobile-hidden"
                                      src="{%if section.settings.imageRight%}{{section.settings.imageRight |  image_url }}{% else %}{{'home-pb-third-2.jpg' |  asset_url}}{%endif %}"
                                      alt=""
                                      title=""
                                      data-element="desktop_image"
                                      data-pb-style="EX6H55I"
                                    ><img
                                      height=""
                                      width=""
                                      class="pagebuilder-mobile-only"
                                      src="{%if section.settings.imageRight%}{{section.settings.imageRight |  image_url }}{% else %}{{'home-pb-third-2.jpg' |  asset_url}}{%endif %}"
                                      alt=""
                                      title=""
                                      data-element="mobile_image"
                                      data-pb-style="H2MLI3O"
                                  ></a>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endif %}
{% schema %}
{
  "name": "home-pagebuilder-third",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show this section",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "imageLeft",
      "label": "Select an Image - Left Section"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Add text content"
    },
    {
      "type": "text",
      "id": "linkText",
      "label": "Add Explore Link Text"
    },
    {
      "type": "image_picker",
      "id": "imageRight",
      "label": "Select an Image - Right Section"
    }
  ],
  "presets": [
    {
      "name": "home-pagebuilder-third"
    }
  ]
}
{% endschema %}
